body {
  background: #DCDCDC
}
.body {
  margin-top: 40px;
}
.header li, .footer li {
  float: left;
}
.left {
  float: left;
}
.oll {
  width: 1060px;
  height: 100vh;
  box-shadow: -1px 2px 4px 4px #808080;
  margin: auto;
  padding: 45px;
  background: white;
}
.menu {
  margin-bottom: 10px;
  background: url('../img/menu.jpg');
  background-repeat: repeat-x;
}
.header li {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 145px;
  padding-left: 10px;
  color: white;
}
li:first-child {
  margin: 0px;
}
.header li:hover {
background: black;
}
.left li:hover {
  padding-left: 35px;
background: #DCDCDC;
}
.left ul {
  width: 240px;
  border: solid 1px grey;
}
.left li:last-child {
   border-bottom: none;
}
.left li {
  color: grey;
  padding: 15px;
  border-bottom: solid 1px grey;
}
.right {
  float: right;
  }
.right p {
  width: 630px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.right img {
  width: 100%;
  border: solid 1px grey;
}
.footer {
  background-color: #DCDCDC;
}
.footer ul {
}
.footer li {
  padding: 10px 80px 10px 10px;
  float:left;
}
.footer li:last-child {
  padding-right: 10px;
  float: right;
}
.footer li:last-child:hover {
  text-decoration: none;
}
.footer li:hover {
  text-decoration: underline;
}
.clearfix,
.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}
