body {
  background: #DCDCDC
}
.header li, .footer li {
  float: left;
}
.left {
  float: left;
}
.oll {
  width: 1060px;
  height: 100vh;
  box-shadow: -1px 2px 4px 4px #808080;
  margin: auto;
  padding: 45px;
  background: white;
}
.menu {
  width: 965px;
  height: 40px;
  padding: 12px;
  background: url('/Users/natvla/Documents/homework2/assets/img/menu.jpg');
  background-repeat: repeat-x;
}
.header li {
  width: 145px;
  height: 40px;
  margin-left: 60px;
  color: white;
}
  li:first-child {
  margin: 0px;
}
li:hover {
background: black;
}
.left ul {
  width: 240px;
  height: 240px;
  border: solid 1px grey;
}
.left li {
  color: grey;
  width: 240px;
  height: 40px;
  border-bottom: solid 1px grey;
}
.right {
  width: 675px;
  height: 588px;
  float: right;
  }
.right p {
  width: 630px;
  height: 145px;
  margin-top: 40px;
}
.right img {
  border: solid 1px grey;
}
.footer ul {
  width: 965px;
  height: 40px;
}
.footer li {
  float:left;
}
.clearfix,
.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    float: none;
    clear: both;
